body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: none;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.header {
  background-color: #1f2937;
  display: flex;
  color: #f9faf8;
  height: 50px;
  justify-content: center;
  align-items: center;
  padding: 0 150px;
}

.logo {
  font-size: 24px;
  color: #f9faf8;
  font-weight: 900;
}

.header-links {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  gap: 15px;
  color: #e5e7eb;
}

.hero {
  background-color: #1f2937;
  display: flex;
  padding: 100px 150px;
  height: 250px;
  align-items: stretch;
  justify-content: flex-start;
  gap: 30px;
}

.hero-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-shrink: 0;
}

.hero-main-text {
  font-size: 48px;
  color: #f9faf8;
  font-weight: 900px;
}

.hero-subtext {
  color: #e5e7eb;
  font-size: 18px;
}

.sign-up-button {
  background-color: #3882f6;
  padding: 8px 35px;
  color: #f9faf8;
  font-weight: 900;
  border-radius: 8px;
  border-width: 0;
  align-self: flex-start;
}

.hero img {
  max-height: 100%;
  height: auto;
  flex: 1;
}
